$blue:    #2533b3 !default;

$primary:       rgba($blue, 0.8) !default;
$secondary:     #29aca1 !default;

.card-style {
    width: 235px;
};

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: $primary !important;
    border: 1px solid $primary !important;
};

.btn-primary:focus-within{
    border: 1px solid $primary !important;
    background-color: $primary !important;
};

.btn-primary:hover {
    background-color: rgba($primary, 1) !important;
};

.btn-primary:active {
    box-shadow: 0 0 0 3px rgba($primary, 0.3) !important;
};


.nav-pills > .nav-item > .nav-link.active{
    background-color: rgba($primary, 1) !important;
};

.bg-secondary{
    background-color: $secondary !important;
};

.jumbotron {
    color: white;
};

footer > div > div > a{
    color: rgba($primary, 1)
};