.card-style {
  width: 235px; }

.btn:focus {
  outline: none;
  box-shadow: none; }

.btn-primary {
  background-color: rgba(25, 4, 121, 0.8) !important;
  border: 1px solid rgba(25, 4, 121, 0.8) !important; }

.btn-primary:focus-within {
  border: 1px solid rgba(25, 4, 121, 0.8) !important;
  background-color: rgba(25, 4, 121, 0.8) !important; }

.btn-primary:hover {
  background-color: #190479 !important; }

.nav-pills > .nav-item > .nav-link.active {
  background-color: #190479 !important; }

.bg-secondary {
  background-color: #29aca1 !important; }

.jumbotron {
  color: white; }

footer > div > div > a {
  color: #190479; }
